HELP.md
**/target/
srv/.mvn/wrapper/maven-wrapper.jar
**/src/main/**/target/
**/src/test/**/target/
srv/target
srv/src/main/resources/static
srv/src/main/resources/firebase.json

### STS ###
srv/.apt_generated
srv/.classpath
srv/.factorypath
srv/.project
srv/.settings
srv/.springBeans
srv/.sts4-cache

### IntelliJ IDEA ###
!**/.idea
!**/*.iws
!**/*.iml
!**/*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
!**/.vscode/


# Logs
**/logs
**/*.log
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*
**/pnpm-debug.log*
**/lerna-debug.log*

front/node_modules
front/dist
front/dist-ssr
front/*.local
front/*.DS_Store
front/.env

# Editor directories and files
**/.vscode/*
**/.vscode/extensions.json
**/.idea
**/.DS_Store
**/*.suo
**/*.ntvs*
**/*.njsproj
**/*.sln
**/*.sw?
front/node_modules/